.pb-airquality-map {
  .pb-map-popup {
    width: 340px;
    max-width: 340px !important;

    .mapboxgl-popup-content {
      padding: 24px 16px 24px 16px;
    }

    .mapboxgl-popup-close-button {
      height: 30px;
      width: 30px;
      font-size: 26px;
      color: rgba(0, 0, 0, 0.54);
      top: 18px;
      right: 8px;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }

    .popup-content {
      > span {
        display: block;
      }

      .title {
        color: rgba(0, 0, 0, 0.87);
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 22px;
      }

      .value {
        margin-top: 24px;
        display: block;
        color: rgba(0, 0, 0, 0.6);
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 14px;
        letter-spacing: 0.25px;
        line-height: 20px;
        > span {
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
  }

  .pb-map-legend {
    max-height: calc(100% - 150px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .pb-share-button {
    z-index: 1010;
    position: absolute;
    top: 10px;

    circle {
      fill: #b0b0b0;
    }

    &.twitter {
      :hover {
        circle {
          fill: rgb(0, 172, 237);
        }
      }
      right: 50px;
    }

    &.facebook {
      :hover {
        circle {
          fill: rgb(59, 89, 152);
        }
      }
      right: 90px;
    }
  }
}

.pb-feature-popup {
  .content-container {
    position: absolute;
    width: 400px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -200px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background: #fff;
    border-radius: 3px;
    outline: none !important;
  }

  .popup-content {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    height: 100%;

    > span {
      display: block;
    }

    .title {
      color: rgba(0, 0, 0, 0.87);
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 22px;
    }

    .value, .link {
      margin-top: 24px;
      display: block;
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 20px;
      > span {
        font-weight: 600;
        font-size: 16px;
      }
    }

    .link {
      bottom: 24px;
      position: absolute;
      margin: 0;
      float: right;
      right: 32px;
    }
  }
}
